# Core modules.
#
# Do *not* comment or remove them
# unless you know what you are doing!
core/core
core/deps
core/erlc

# Plugins.
#
# Comment to disable, uncomment to enable.
plugins/bootstrap
#plugins/c_src
plugins/ct
plugins/dialyzer
#plugins/edoc
#plugins/elvis
plugins/erlydtl
plugins/relx
plugins/shell
